{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books_list %}
            <div class="book col-md-4">
                <h2><a href="/books/{{book.book_pub_date}}">{{book.book_name}}</a></h2>
                <p>Автор: {{book.book_author}}</p>
                <p>Дата публикации: {{book.book_pub_date}}</p>
            </div>
            {% endfor %}
        </div>
        <!--{%if page.has_previous or page.has_next%}-->
        <a href="?page={{page.previous_page_number}}">Назад</a>
        <a href="?page={{page.next_page_number}}">Вперед</a>
        <!--{%endif%}-->
    </div>

{% endblock %}